@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin-top: 100px;
  background: #080808;
  color: #fff;
}

/* Navbar styling*/
#header{
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
}

.container{
  padding: 10px 10%;
  background: #080808;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav p a{
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  position: relative;
}

nav ul li a::after{
  content: "";
  width: 0;
  height: 3px;
  background: #808080;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s; 
}

nav ul li a:hover::after{
  width: 100%;
}

nav p a:hover {
  color:  #808080;
}
  
/* Footer styling */
footer {
  padding: 20px;
  text-align: center;
}

footer p{
  margin-bottom: 10px;  
}

/* Toggle styling */
body.light-mode {
  background-color: #fff;
  color: #080808;
}

body.light-mode nav ul li a, body.light-mode nav p a, body.light-mode .mode-button {
  color: #080808;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

body.light-mode .container{
  background: #fff;
}


.mode-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  transition: color 0.3s;
}

.mode-button:hover {
  color: #808080;
}

.mode-label {
  margin-left: 10px;
}

/* Hero styling */
#hero{
  padding:20px;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding: 40px;

}

.hero-content{
  max-width: 800px; 
  margin: 0 auto;
}

.hero-title {
  font-size: 54px;
}

.hero-description {
  font-size: 26px;
  color: #808080; 
}

/* About styling */

#about {
  padding: 20px;
  max-width: 1000px; 
  margin: 0 auto;
}

.about-title {
  font-size: 54px;
  font-weight: bold;
  color: #808080;
  margin-bottom: 10px;
}

.about-description {
  font-size: 20px;
  margin-bottom: 30px;
}

.about-subsection-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-subheading {
  font-size: 14px;
  color: #808080;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-subheading-date {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-subsection-description {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}